@model TaskbySaurabhSirUI.Models.GetPerson

@{
    ViewData["Title"] = "Deleteperson";
}

<h1>Deleteperson</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>*@
     @*   <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>

        <dd class="col-sm-10">

            @Html.DropDownListFor(x=>x.CountryId , (IEnumerable<SelectListItem>)ViewBag.Con, new { id = "CountryId", @class = "form-control", @disabled = "disabled" })

           </dd>
      
     



       @* <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateId)
        </dt>

         <dd class = "col-sm-10">
            <select id="stateId" class="form-control" name="StateId" disabled>
            </select>
            </dd>

       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityId)
        </dt>

        <dd class="col-sm-10">
     
            <select id="city-dd" class="form-control" name="CityId" disabled="true">
            </select>

        </dd>


       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.base64data)
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.base64data)*@
            <img width="300" height="200" src="@String.Format("data:image/jpg;base64,{0}",Model.base64data)" />
        </dd>
    </dl>
    
    <form asp-action="Deleteperson">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @* <a asp-action="GetPerson">Back to List</a>*@
        <a asp-action="GetPerson" class="btn btn-primary">Back</a>
    </form>
   
   
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetStateByCountry();

            setTimeout(function () {
                GetCityByState();
            }, 200);


        });

        $('#CountryId').on('change', function () {

            GetStateByCountry();
        });
        function GetStateByCountry() {
            var countryId = $("#CountryId").val();
            $("#stateId").html('');
            $.ajax({
                url: "/Home/GetStateById",
                type: "Post",
                data: { "CountryId": countryId },
                dataType: 'json',
                success: function (result) {
                    console.log(result);
                    $('#stateId').html('<option value="">Select State</option>');
                    $.each(result, function (key, value) {

                        $("#stateId").append('<option value="' + value
                            .stateId + '">' + value.stateName + '</option>');

                    });
                    //$('#city-dd').html('<option value="">Select City</option>');
                    $("#stateId option[value=@Model.StateId]").attr("selected", "selected");
                }
            });
        }

        $('#stateId').on('change', function () {
            GetCityByState();
        });


        function GetCityByState() {

            var StateId = $('#stateId').val();
            $("#city-dd").html('');
            $.ajax({
                url: "/Home/GetCity",
                type: "POST",
                data: { "stateid": StateId },

                dataType: 'json',
                success: function (res) {
                    console.log(res);
                    var data = res;
                    $('#city-dd').html('<option value="">Select City</option>');
                    $.each(res, function (key, value) {
                        $("#city-dd").append('<option value="' + value.cityId + '">' + value.cityName + '</option>');
                    });
                    $("#city-dd option[value=@Model.CityId]").attr("selected", "selected");
                }
            });
        }



    </script>
}
